body {
    margin: 0;
    padding: 0;
     /* background-color: rgb(89, 100, 255); */
     background-image: url(photo-1567037650555-0ecea0aa8651.jpg);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(97, 101, 156, 0.349);
    width: 100vm;
    height: 100vh;
}
.welcom input {
    border: none;
    display: block;
    width: 100%;
    background-color: transparent;
    border-bottom: 2px solid rgba(63, 63, 63, 0.199);
    color: white;
    margin-bottom: 15px;
    outline: none;
    font-size: 30px;
    text-align: center;
}
.welcom input:focus {
    border-bottom: 2px solid rgb(34, 32, 32);
    transition: 0.5s;
}
.welcom button {
    width: 100%;
    display: block;
    color: rgb(169, 170, 190);
    border: none;
    outline: none;
    font-size: 22px;
    border-radius: 100px;
    padding: 20px 0;
    background-color: white;
    cursor: pointer;
    transition: 0.5s all ;
}
.welcom button:hover {
    transform: translatey(-5px);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
}
.questions {
    background-color: white;
    width: 800px;
    height: 500px;
    display: grid;
    grid-template-rows: 60px auto;
}
.question-header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1) ;
    z-index: 1;
}
.question-body{
    background-color: #ecf0f1;
    padding: 10px 30px 30px 30px;
}
.option-container {
    list-style-type: none;
    margin: 30px 0px;
}
.options {
    display: block;
    background-color: white;
    margin-bottom: 20px;
    width: 300px;
    padding: 15px 20px ;
    border-radius: 27px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.4s all;
}
.options:hover {
    border: 2px solid  rgb(128, 129, 149);
    color:rgb(98, 103, 199) ;
}
.quiz-timer {
    background-color: rgb(128, 129, 148);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    color: white;
}
.quiz-user {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 30px;
}
.next-btn {
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    background-color:  rgb(128, 129, 148);
    padding: 15px 35px;
    border-radius: 27px;
    transition: 0.4s all;
}
.next-btn:hover {
    color:  rgb(128, 129, 148);
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2) ;
}
.fas {
    color: white;
    font-size: 300px;
}
.user-name ,
.user-points ,
.user-time {
    color: white;
    text-align: center;
}
.hide {
    display: none;
}
.options.active {
    background-color: rgb(131, 133, 155);
    color: #fff;
  }
  @media (max-width : 550px){
      .question-body{
        padding: 10px 10px 10px 10px;
    }
  }